html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}

.backgroundImage {
  position: sticky;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: -1;
  opacity: 0.5;
}

/* 
fixes swiper flicker
https://www.youtube.com/watch?v=4aJPgKLwAGY
 */

.swiperslide {
  -webkit-transform: translateZ(0);
}

.swiper-button-prev {
  color: white !important;
}

.swiper-button-next {
  color: white !important;
}

.swiper-pagination-bullet-active {
  background-color: white !important;
}

.swiper-pagination-bullet {
  background-color: white !important;
}

@media (max-width: 768px) {
  .swiper-pagination {
    display: none !important;
  }
}
